@import "partials/variables";
@import "partials/fonts";
// @import "partials/scanlines";
@import "partials/animations";

body {
  font-size: 2rem;
  font-family: 'early_gameboyregular', 'Ubuntu Mono';
  background-color: #303030;
  #loadingBar {
    color: $pcGreen;
  }
}

nav .brand-logo {
  left: 10px;
}

#cardTitle1 #cardTitle2 #cardTitle3 {
  font-size: 1.5rem;
}

#systemMessage {
  @extend %systemFadeIn;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 30px;
  color: $pcGreen;
}

.btn {
  background-color: $pcGreen;
}

#bootScroll {
  @extend %bootScrollAnimation;
  width: 50%;
  font-size: 30px;
  color: $pcGreen;
}