@keyframes bootText {
  0%   {bottom: -1500px;}
  100% {bottom: 7000px; display: none;}
}

@keyframes fadeIn {
  0%   {opacity: 0;}
  10% {opacity: 0.2;}
  20% {opacity: 0.4;}
  30% {opacity: 0.6;}
  40% {opacity: 0.8;}
  50% {opacity: 0.9;}
  60% {opacity: 1;}
  70% {opacity: 0;}
  80% {opacity: 1;}
  90% {opacity: 0;}
  100% {opacity: 1;}
}